<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dinos</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>NEW dino</h1>
    <form  action="/dinosaurs" method="POST">
      <div>
       <label>Name</label>
       <input type="text" name="name" placeholder="Dino's given name">
       <label>Type</label>
       <input type="text" name="type" placeholder="Dino's species">
       </div>
       <button type="submit" >Add!</button>
    </form>
  </body>
</html>